* {
    font-family: "ZedMono Nerd Font";
    font-size: 17px;
}

window#waybar {
    background-color: transparent;
    border-radius: 15px;
}

/*---------------------------------------*/
/* MODULES */

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

/*---------------------------------------*/
/* WORKSPACES */

#workspaces {
    background-color: transparent;
}

#workspaces button {
    color: white;
    background-color: transparent;
    padding: 0 3px;
    text-shadow: 0 0 2px currentColor, 0 0 2px currentColor;
}

#workspaces button.active {
    color: white;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: white;
    color: black;
    border-radius: 0 20px 0 20px;
}

/*-------------------------------------*/
/* MUSIC */

#music {
    background-color:  transparent;
    border-radius: 10px;
    padding: 0 8px;
}
#custom-cava {
    color: white;
    padding: 0 8px;
}

#mpris {
    color: white;
    padding: 0 8px;
}

/*-------------------------------------*/
/* TASKBAR */

#taskbar {
    background-color: transparent;
    border-radius: 10px;
}

#taskbar button {
    padding: 5px;
}

#taskbar button.active {
    background-color: rgb(0, 50, 150);
    border-radius: 0 20px 0 20px;
}

#taskbar button:hover {
    background-color: white;
    color: black;
    border-radius: 0 20px 0 20px;
}

/*-------------------------------------*/
/* CLOCK */

#clock {
    background-color: rgba(0, 61, 193, 0.25);
    background-image: linear-gradient(rgb(0, 50, 150), rgb(0, 50, 150));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 100%;
    border-radius: 0 10px 0 10px;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    box-shadow: 0 0 0 0 rgba(0, 50, 150, 1);
    transition: background-size 200ms ease-in-out,
                background-color 200ms ease-in-out,
                padding 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

#clock:hover {
    background-color: rgb(0, 50, 150);
    background-size: 100% 100%;
    padding: 0px 26px;
    box-shadow: 0 0 0 3px rgb(0, 50, 150);
}

/*-------------------------------------*/
/* TOOLBAR */

#toolbar {
    background-color: rgba(0, 61, 193, 0.25);
    background-image: linear-gradient(rgb(0, 50, 150), rgb(0, 50, 150));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 100%;
    border-radius: 0 10px 0 10px;
    color: white;
    font-size: 18px;
    padding: 0 7px;
    box-shadow: 0 0 0 0 rgba(0, 50, 150, 1);
    transition: background-size 300ms ease-in-out,
                background-color 300ms ease-in-out,
                padding 300ms ease-in-out,
                box-shadow 300ms ease-in-out;
}

#toolbar:hover {
    background-color: rgb(0, 50, 150);
    background-size: 100% 100%;
    padding: 0px 12px;
    box-shadow: 0 0 0 3px rgb(0, 50, 150);
}

#pulseaudio,
#network,
#bluetooth,
#custom-power{
    color: white;
    padding: 0 8px;
}

#network,
#custom-power {
    font-size: 17px;
}

#pulseaudio {
    font-size: 12px;
}

#bluetooth {
    font-size: 19px;
}

/*----------------------------------------*/